*.drawio
plots/*.png
plots/.ipynb_checkpoints
plots/*.ipynb
*.pyc
__pycache__/*.pyc
.ipynb_checkpoints/*.ipynb
.ipynb_checkpoints/*
saved_data/*
new_workflow/*.drawio

# Ignore any of the saved *.npy files
*.npy
saved_arrays/*.npy

# Ignore any .csv files
*.csv

# Ignore any output files
*.out

# Ignore any of the output or error files in logs
logs/*.out
logs/*.err

# Ignore the launch files
.vscode/launch.json