[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        model="CMCC-CM2-SR5"
        variable="psl"
        season="DJFM"
        experiment="dcppA-hindcast"

[scheduling]
    [[dependencies]]
        graph = """
        calc_mms<model><variable><season> => calc_anoms<model><variable><season>
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition = short-serial
    [[calc_mms<model><variable><season>]]
        script = """
        module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        sbatch --begin=now submit_scripts/submit-all-multi-model.calc-anoms-model-mean-state.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_season}
        """
        [[[job]]]
            execution time limit = PT20M
    [[calc_anoms<model><variable><season>]]
        script = """
        module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        sbatch --begin=now+300 submit_scripts/test-calc-anoms-sub-anoms-array.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_season}
        """
        [[[job]]]
            execution time limit = PT20M
