[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        model=MRI-ESM2-0
        variable=psl
        season=ONDJFM,AYULGS
        experiment="dcppA-hindcast"
        region="global"
        start_year=1960
        end_year=2018

[scheduling]
    [[dependencies]]
        graph = """
        sel_region<model><variable><season><experiment><region><start_year><end_year>
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition = short-serial
    [[sel_region<model><variable><season><experiment><region><start_year><end_year>]]
        script = """
        module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        sbatch submit_scripts/test-sel-region-array-script-py.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_experiment} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_start_year} ${CYLC_TASK_PARAM_end_year} 
        """
        [[[job]]]
            execution time limit=PT60M
