[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        model=BCC-CSM2-MR,MPI-ESM1-2-HR,CanESM5,CMCC-CM2-SR5,HadGEM3-GC31-MM,EC-Earth3,MPI-ESM1-2-LR,FGOALS-f3-L,MIROC6,IPSL-CM6A-LR,CESM1-1-CAM5-CMIP5,NorCPM1
        variable="psl"
        season="DJFM"
        experiment="dcppA-hindcast"

[scheduling]
    [[dependencies]]
        graph = """
        sel_region<model><variable><season><experiment>
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition = short-serial
    [[sel_region<model><variable><season><experiment>]]
        script = """
        module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        sbatch submit_scripts/test-sel-region-array-script.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_experiment}
        """
        [[[job]]]
            execution time limit = PT20M
