[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        variable=psl,tas,rsds,sfcWind
        season=ULG
        region="global"
        start_year="1961"
        end_year="2014"
        forecast_range=2-3,2-5
        lag="4"

[scheduling]
    [[dependencies]]
        graph = """
        alternate_lag<variable><season><region><start_year><end_year><forecast_range><lag>
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition=high-mem
            --mem=50000
    [[alternate_lag<variable><season><region><start_year><end_year><forecast_range><lag>]]
        script = """
        module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        python alternate_lag_functions.py ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_start_year} ${CYLC_TASK_PARAM_end_year} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_lag}
        """
        [[[job]]]
            execution time limit = PT400M